@model IEnumerable<ServiceVM>
@section Header{
   Servies
}
<div class="col-md-12">
<div class="card">
              <div class="card-header">
                <h3 class="card-title">Show all Services </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                    
                      <th>Name</th>
                      <th>Status</th>
                      <th>Action</th>
                     
                    </tr>
                  </thead>
                  <tbody>
                    @foreach(var service in Model)
                    {<tr>
                        <td>@service.Name</td>
                            <td>@service.IsDeleted</td>
                            <td>
                                <a asp-action="Edit" asp-controller="Services" asp-route-id="@service.Id" class="btn btn-warning btn-sm">Edit</a>
                                <a asp-action="Details" asp-controller="Services" asp-route-id="@service.Id" class="btn btn-info btn-sm">Details</a>
                                <a asp-action="Delete" asp-controller="Services" asp-route-id="@service.Id" class="btn btn-danger btn-sm">Delete</a>

                            </td>
                        </tr>
                    }
                </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a class="page-link" href="#">«</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
              </div>
            </div>
</div>
